<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<%= form_tag films_path, :method => 'get', :id => "films_search" do %>
    <table class="table table-bordered">
      <tr>
        <td><%= text_field_tag :search, params[:search] %>
               <%= submit_tag "Search", :name => nil, class: "btn btn-mini btn-primary" %></td>
        <td><b><%= "Anzahl der Filme: " %><%= @total_films %></b></td>
      </tr>
    </table>
    <div id="films"><%= render 'films' %></div>
<% end %>

