
<% if @cat_name == nil %>

    <% if @notice != nil %>
        <p id="notice"><%= @notice %></p>
    <% end %>
    <% content_for :sidebar do %>
        <br><br>
        <div class ="img-polaroid">
    <%= image_tag @film.photo  %>
        </div>
        <br>
        <%= link_to 'Darsteller hinzufügen', darsteller_path %><br>
        <%= link_to 'Darsteller löschen', darst_del_films_path %><br>
        <%= link_to 'Film spielen', film_play_films_path %><br>
        <%= link_to 'nächster Film ', nextfilm_films_path(@film),:class => 'btn btn-mini' , :style => "width:75px" %><br>
        <%= link_to 'vorheriger Film ', prevfilm_films_path(@film),:class => 'btn btn-mini', :style => "width:75px" %><br>
        <%= back_to_list %>
     <% end %>
    <div>
    <table class="table table-bordered">
      <br><br>
       <tr >
        <td><b>Titel:</b></td>
        <td><%= @film.titel %></td>
      </tr>
      <tr>
        <td><b>Kategorie:</b></td>
        <td><%= @film.category.name %></td>
      </tr>
      <tr">
        <td><b>Darsteller:</b></td>
        <td><%= sanitize(text_area_tag "Darsteller", options_for_select(@film.darstellers.each.map { |d| d.name+";" })) %></td>
      </tr>
      <tr>
        <td><b>Laenge:</b></td>
        <td><%= @film.laenge %></td>
      </tr>
      <tr>
        <td><b>Land:</b></td>
        <td><%= @film.land %></td>
      </tr>
      <tr>
        <td><b>Jahr:</b></td>
        <td><%= @film.jahr %></td>
      </tr>
      <tr>
        <td><b>Beschreibung:</b></td>
        <td><%= @film.description %></td>
      </tr>
      </div>
    </table>
    <br><br> <br>

<% end %>