<% if @cat_name == nil %>

    <% if @notice != nil %>
        <p id="notice"><%= @notice %></p>
    <% end %>
    <% content_for :sidebar do %>
        <br><br>
        <div class ="img-polaroid">
    <%= image_tag @film.image_url, :size => '222x314'  %>
        </div>
        <br>
        <%= link_to 'Darsteller hinzufügen', darsteller_path %><br>
        <%= back_to_list %>
     <% end %>
    <div>
    <table class="table table-bordered">
      <br><br>
       <tr >
        <td><b>Titel:</b></td>
        <td><%= @film.titel %></td>
      </tr>
      <tr>
        <td><b>Kategorie:</b></td>
        <td><%= @film.category.name %></td>
      </tr>
      <tr>
        <td><b>Laenge:</b></td>
        <td><%= @film.laenge %></td>
      </tr>
      <tr>
        <td><b>Land:</b></td>
        <td><%= @film.land %></td>
      </tr>
      <tr>
        <td><b>Jahr:</b></td>
        <td><%= @film.jahr %></td>
      </tr>
      </div>
    </table>
    <br><br> <br>


<% end %>