<div id="films_chart"  style="width: 600px; height: 300px;"></div>
<script type="text/javascript" charset="utf-8">
    $(function() {
        new Highcharts.Chart( {
            chart:  {
                renderTo: "films_chart",
                type: 'pie'
            },
            title: {
                text: "Film-Categories"
            } ,
           series: [{
                data: [["Action", 53], ["Thriller", 21], ["Abenteuer", 19], ["TV-Film", 0], ["Drama", 57], ["Western", 2], ["Eastern", 0], ["Krimi", 12], ["Dokumentation", 4]]
            }]
          });
    } );
</script>

<h3>Filmkategorien verwalten</h3>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<table>
  <tr class="ueberschrift">
    <th>Name</th>
    <th>Anzahl</th>
    <th></th>
    <th></th>
  </tr>

  <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name,  category_path(category.id) %></td>
        <td><%= category.films.count %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Neue Kategorie erfassen', new_category_path %>
