<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Videoarchiv", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <li><%= link_to 'Filme', films_path %></li>
              <li><%= link_to 'Clips', clips_path %></li>
              <li> <%= link_to "Kategorie", categories_path %></li>
              <li><%= link_to 'Darsteller', darstellers_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path %></li>
          <% else %>
              <%= link_to "Login", new_user_session_path %>
              <%= link_to "Register", new_user_registration_path %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>